header {
    background-color: #51025a;
    color: rgb(236, 233, 233);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
/* Define margem e preenchimento como zero para todos os elementos */

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
    }
* {
    margin: 20;
    padding: 20;
    }
    .cabecalho {
    background-color: #046611; /* Define a cor de fundo */
    color: rgb(196, 197, 196)* Define a cor do texto como branco */
    display: flex; /* Usa um layout flexível */
    justify-content: space-around; /* Distribui o espaço ao redor dos elementos filhos */
    align-items: center; /* Alinha os elementos filhos */
    padding: 24px 0; /* Preenchimento superior e inferior como 24px e 0 nas laterais */
.cabecalho-imagem{
    width:10%;
    margin: 0,1%;
    padding: 0,1%
}
    }
    .curso{
        background-image: linear-gradient(#1e5a02, #5cdfe864);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        }
        
        .curso-div-conteudo{
        width: 35%;
        }
        .curso-titulo{
        padding: 16px 0;
        }

    .projeto-titulo{
       
        text-align: center;
        padding: 16px 0;
        
        }
        .projeto-div{
           background-color: antiquewhite;
            width: 100px;
            height: 100px;
            display:contents;
        }
        .rodape{
            background-color: rgb(84, 134, 132);
            text-align: center;
            }

                
            .rodape-imagem{
                height: 60px;
                padding: 12px 0;
                }
    



    
